AWS_REGION=us-east-1
AWS_ACCOUNT_ID=123456789012
ECR_REPOSITORY=ai-healthguard
CLUSTER_NAME=ai-healthguard-cluster
SERVICE_NAME=ai-healthguard-service
IMAGE_TAG=latest

GEMINI_API_KEY=replace_with_secret
JWT_SECRET=replace_with_secret
MONGO_URI=mongodb+srv://user:password@cluster.mongodb.net
MONGO_DB=ai-healthguard
APP_URL=https://your-alb-domain.amazonaws.com
